:root {
  --orange2: #DC2F02;
  --orange1: #df5917;
  --gray: #c8c8c8;
  
  --white: #FFFFFF;
  --yellow2: #F48C06;
  --yellow1: #FAA307;
  --yellowTransparent: #faa507e0;
  --font:'Montserrat', sans-serif;;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --spacer: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  text-shadow: var(--shadow);
}

html {
  font-size: 62.5%;
  /* height: 100%; */
  }
